/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 6px 80px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid #36657d;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 225ms ease;
  background-color: #36657d;
 }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  border-color: #2e5468;
  background-color: #2e5468;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

.cntr {
  display: block;
  margin: 0 auto;
}

  @media (max-width: 799px) {
  .cntr {
    margin: 40px auto 0;
  }
  }

.btn-layout {
  margin-top: 60px;
}

.btn-brdr {
  border-color: #1c4b60;
}

.share {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}

.share-dark                      { color: #fff; }
.share-dark.fa-facebook          { background-color: #1c4b60; }
.share-dark.fa-facebook:hover    { background-color: #005790; } 