ul.services {
	list-style: none;
}

ul.services li {
	margin-bottom: 70px;
}

ul.services li:last-child {
	margin-bottom: 0px;
}

.rule {
	border-top: 1px solid #ddd;
}

.servicesrule {
	border-top: 1px solid #36657d;
	margin-top: 15px;
}

.services-index h2 {
	border-top: 1px solid #1c4b60;
	color: #fff;
	padding-top: 5px;
	margin-top: 60px;
}

.services-body {
	border-top: 1px solid #ddd;
	background-color: #f9f9f9;
}

.services-body p {
	font-size: 1.65rem;
}

.services-body h3 {
	color: #36657d;
}