.contact {
	background-color: #666;
	padding: 40px 30px;
	text-align: center;
}

.contact h4 {
	margin-bottom: 20px;
}

.btn-group {
    margin-top: 30px;
    display: inline-block;
}

	@media (max-width: 799px) {
	.btn-group span {
		display: block;
		padding: 15px;
	}

	.btn-group button {
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	}

	@media (min-width: 800px) {
		.btn-group span {
			padding: 0 30px;
		}

		.contact {
			padding: 125px 50px 135px;
		}	
	}