footer { 
	background-color: #fff;
	padding: 50px;
	border-top: 1px solid #ddd;
}

	@media (min-width: 800px) {
		footer { 
		text-align: left;
		}
	}


.footer-left {
	width: 100%;
	text-align: left;
}

	@media (min-width: 800px) {
	.footer-left {
		float: left;
	}
	}



.footer-disclaimer {
	border-top: 1px solid #aaa;
	margin-top: 50px;
	padding-top: 40px;
}

.footer-disclaimer p {
	font-size: 13px;
}



.footer-right {
	position: relative;
	width: 100%;
}

	@media (min-width: 800px) {
	.footer-right {
		float: right;
		text-align: right;
	}

	.designby {
	text-align: right;
	}
	}



.footer-social {
	border-top: 1px solid #ddd;
	margin-top: 50px;
	padding-top: 30px;
}

.footer-right-bottom {
	position: relative;
}

	@media (min-width: 800px) {
	.footer-social {
		text-align: right;
		border-top: 1px solid #ddd;
		margin-top: 50px;
		padding-top: 30px;
	}
	}