footer { 
	background-color: #fff;
	padding: 50px;
	border-top: 1px solid #ddd;
}

	@media (min-width: 800px) {
		footer { 
		text-align: left;
		}
	}


.footer-left {
	width: 100%;
	text-align: left;
}

	@media (min-width: 800px) {
	.footer-left {
		float: left;
	}
	}


.footer-disclaimer {
	border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 40px;
}
	@media (min-width: 800px) {
	.footer-disclaimer {
		margin-top: 50px;
		padding-top: 40px;
	}
	}

.footer-disclaimer p {
	font-size: 13px;
}

.footer-right {
	position: relative;
	width: 100%;
}

	@media (min-width: 800px) {
	.footer-right {
		float: right;
		text-align: right;
	}

	.designby {
	text-align: right;
	}
	}


ul.footer-links {
	list-style: none;
	border-top: 1px solid #ddd;
	padding-top: 30px;
    margin-top: 30px;
}

	@media (min-width: 800px) {
	ul.footer-links {
		border: none;
		padding-top: 0px;
	    margin-top: 10px;
	}

	ul.footer-links li {
		display: inline-block;
		margin-bottom: 0;
		padding-left: 20px;
	}
	}


.footer-social {
	border-top: 1px solid #ddd;
    margin-top: 30px;
	padding-top: 30px;
}
	@media (min-width: 800px) {
	.footer-social {
		margin-top: 50px;
	}
	}

.footer-right-bottom {
	position: relative;
}

	@media (min-width: 800px) {
	.footer-social {
		text-align: right;
		border-top: 1px solid #ddd;
		margin-top: 50px;
		padding-top: 30px;
	}
	}