header {
	border-bottom: 1px solid #ddd;
	background: #fff;
	height: 160px;
}


.brokercheck {
	position: absolute;
	z-index: 5;
	top: 25px;
	right: 48px;
	width: 100px;
	height: 25px;
	z-index: 10000;
}

@media screen and (min-width: 700px) {
.brokercheck {
	top: 20px;
	right: 48px;
	width: 150px;
	height: 37px;
}
}